.DateInput {
  width: calc(50% - 12px);
}

.DateInput_input {
  /* color: #4b5c6b; */
  color: #000;
  /* font-family: "Roboto", sans-serif; */
  font-family: Arial, sans-serif;
  font-size: 1em;
  padding: 7px 10px 5px 10px;
}

.DateInput_input__focused {
  border-bottom: 2px solid #1aae9f;
}

.DateRangePickerInput__withBorder {
  border: 2px solid #c7d2db;
  border-radius: 5px;
}
